body{
    margin: 0;
    background-color: rgb(164, 143, 164);
}
.conteiner{ 
    display: grid; /*Grid para fazer a divisão ta tela e organizar os textos*/
}
header{ /*configurações para o titulo principal das páginas*/
    grid-template-columns: 100%;
    background-color: rgba(104, 41, 104, 0.621);
    align-content: center;
    align-items: center;
}
h1{ /*condições para subtitulo específico na página index*//**/
    color: whitesmoke;
    padding: auto;
    text-align: center;
}
a{/*configuração de cor e retirar sublinhado dos links*/
    text-decoration: none;
    color: azure;
}
.menu{
    grid-template-columns: 15% 15% 15% 15% 40%;/*divisão em colunas para colocar o link das páginas na horizontal*/
    justify-content: left;/*lado esquerdo da tela*/
    width: 100%;/*tamanho máx da tela*/
    height: auto;
    background-color: rgb(147, 37, 147);
    padding-top: 15px;
    padding-bottom: 15px;
    color: azure;
    font-size: 22px;
    text-align: center;
    align-items: center;
}
.sobre{
    grid-column: 1 / 2;    
}
.cv{
    grid-column: 2 / 3;
}
.exemplo{
    grid-column: 4 / 5;
}    
.contato{
    grid-column: 3 / 4;
}
ul{ /*configurações para criar um menu suspenso para os links do portifólio*/
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: auto;
}
ul li{
    position: relative;
}
ul li a {
    display: block;
}
ul li ul.abaixo li{
    display: block;
}
ul li ul.abaixo {
    width: auto;
    background-color: rgb(147, 37, 147);
    position: absolute;
    display: none;
}
ul li:hover ul.abaixo{/*configurações e função para os links aparecerem*/
    font-family: monospace;
    width: 210px;
    text-align: left;
    padding: 12px;
    display: block;
}
ul li ul a:hover{
    background-color: rgba(147, 37, 147, 0.203);
    text-decoration: underline;
}
.conteudo {/*dividir o conteúdo em meia tela para organizar*/
    grid-template-columns: 50% 50%;
    text-align: left;
    align-items: center;    
}
.seçao {
    grid-column: 1 / 2;
    color: blanchedalmond;
    bottom: 140px;
}
.habilidade{
    grid-column: 2 / 3;
    color: aliceblue;
}
p{/*fonte e posicionamento do paragráfo*/
    font-size: 25px;
    padding-left: 60px;
}
div{/*fonte, posicionamento e cor das divs*/
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 25px;
    color: blanchedalmond;
}
h3{/*posicionamento e cor dos subtitulos no link formação*/
    text-align: center;
    color: blanchedalmond;
       
}
footer{/*barra para rodapé*/
    height: 80px;
    bottom: 0px;
    background-color: rgba(104, 41, 104, 0.621);
}